.App-container {
  min-height: 100vh;
}

.welcome{
  text-align: center;
}

.marginTop{
  margin-top: 15px!important;
}

.modeButton {
  position: fixed;
    bottom: 25px;
    right: 25px;
}

.lightBackground {
  background: #dee2e6;
}

.darkBackground {
  background: #6c757d;
}

.shiftToEnd {
  text-align: end;
}

.shiftToEnd span {
  margin-right: 15px;
  letter-spacing: 3px;
}